.Overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OverlayBody {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    background-color: white;
    color: black;
    padding: 10rem;
    border-radius: 1rem;
}

.Width_100 {
    width: 100%;
}
